@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

#portada{
    background-image: url(../medios/planta\ toyota.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(249, 249, 251);
}
h1{
    text-align: center;
    margin-top: 26px;
    color: black;
    text-shadow: -2px 3px 7px rgba(0,0,0,0.6);
    }
    .redesSociales{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        right: 50px;
        svg{
            display: flex;
            height: 40px;
            width: 40px;
            margin: 25px 30px;
            transition: transform 0.2s;
            &:hover{
                transform: scale(1.8);
            }
            
        }
    }
    #verde{
        color:  #00e676;
    }
    #azul{
        color:blue;
    }
    #rojo{
        color:red;
    }
    .enlaces{ 
        nav{
            ul{
                display: flex;
                text-decoration: none;
                font-style: italic;
                background-color: rgba(0, 0, 0, 0.5);
                margin-top: 4%;
                list-style: none;
                li{
                    a {
                        display: flex;
                        margin-right: 60px;
                        color:rgb(220, 230, 241);
                        font-weight: 500px;
                        padding: 10px;
                        &:hover {
                            border-bottom: 2px solid blue;
                        }
                    }
                }
            }
        }
    }
    .cabecera{
        background-image: linear-gradient(to left,orange, white);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
    }
    .ubicacion{
        text-align: center;
        max-width: 500px;
        background-color: rgba(32, 23, 23, 0.5);
        font-size: 1.5rem;
        margin: 0 auto; 
        margin-right: 20px; 
        a{
            color:blue;
            font-size: 2rem;
        }
    }
.emblema{
    text-align: center;
    background-image: linear-gradient(to left,orange, white);
    color: rgb(11, 11, 11);
    font-size: 1.5rem;
    font-weight:bold;
    text-shadow: -2px 3px 7px rgba(0,0,0,0.6);
}
h2{
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2.0rem;
}

@media only screen and (max-width:480px){

.portada{
    height: 100%;
    width: 100%;
}    
h1{
    margin-top: 60px;
    text-shadow: -2px 3px 7px rgba(0,0,0,0.6);
}
nav ul{
    flex-direction: column;
    align-items: center;
}
.cabecera{
    background-color: transparent;
}
h3{
    background-color: orange;
    color:black;
    font-size: 2rem;
    margin: 5%;
}
.ubicacion{
    background-color: transparent;
    color: rgb(241, 242, 244);
    margin-left: 8%;
    a{
        font-size: 1.4rem;
    }
} 
p{
    font-size: 1.3rem;
    text-shadow: -2px 3px 7px rgba(0,0,0,0.6);
}
.emblema{
    font-size: 1.2rem;
}
}

@media screen and (min-width:768px) and (max-width:1023px){

.enlaces nav ul{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
}
li {
    border: none;
}
h1{
    margin-top: 8%;
    font-size: 3rem;
}
.ubicacion{
    max-width: 50%;
    margin-right: 25%;
    font-size: 1.4rem;
    background-color: transparent;
    color: black;
    font-weight: bold;
    a{
        display:none;
    }
}
.emblema{
    font-size: 1.1rem;
}
}