body {
  background-image: url(../medios/secundario.jpg);
}

h1 {
  background-image: linear-gradient(to left, orange, white);
  color: black;
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
  text-shadow: -2px 3px 7px rgba(0, 0, 0, 0.6);
}

h3 {
  color: rgb(4, 4, 4);
  background-image: linear-gradient(to left, orange, white);
  text-align: center;
  text-shadow: -2px 3px 7px rgba(0, 0, 0, 0.6);
}

h2 {
  color: white;
  text-align: center;
  background-image: linear-gradient(to bottom, black, grey);
  font-size: 2rem;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

header {
  color: rgb(248, 246, 246);
  font-size: 1.6rem;
  margin: auto;
  max-width: 600px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.section-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  max-width: 75%;
  text-align: center;
  margin-top: 7%;
  padding-left: 10%;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label input {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  font-size: 14pt;
  margin: 10px;
  transition: background-color 0.5s, border 0.5s;
  color: black;
}
label input:hover {
  background-color: #454045;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #754a4a;
}
label input:focus {
  background-color: #212121;
  border: 1px solid #f3f3f4;
  box-shadow: 0 0 4px #754a4a;
}
label span {
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: rgba(18, 16, 16, 0.2);
}

.checkbox {
  display: flex;
  flex-direction: row;
}
.checkbox input[type=checkbox] {
  width: 20px;
}
.checkbox span {
  font-weight: 400;
}

.legales {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  font-size: 1.2rem;
}
.legales button {
  margin-inline: auto;
}

.submit {
  background-color: orange;
  font-weight: 400;
  border-radius: 10px;
  width: 45%;
  padding: 10px;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.submit:hover {
  opacity: 0.6;
}

.legales span {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  margin: auto;
}
.legales span a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to left, orange, white);
  border-radius: 5px;
}

#politica {
  margin: 10px;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  form {
    font-size: 0.8rem;
  }
  .checkbox {
    font-size: 0.6rem;
  }
  .legales {
    font-size: 0.8rem;
    align-items: center;
  }
  .legales span {
    font-size: 0.9rem;
  }
  .legales button {
    margin: 15px 0px;
    font-size: 0.8rem;
  }
  .container {
    width: 90%;
  }
  .section-inputs {
    display: flex;
    flex-direction: column;
  }
  .section-inputs input {
    font-size: 0.8rem;
  }
  #email {
    font-size: 0.8rem;
  }
  #password {
    font-size: 0.8rem;
  }
  label input {
    width: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  label span {
    font-size: 1rem;
  }
}/*# sourceMappingURL=contacto.css.map */