@media only screen and (max-width:480px){


.im {
    max-width: 480px;
    img{
        width: 25%;
        height: 25%;
}
}
#im1{
    display: none;
}
.portadaAccesorios{
    flex-direction: column;
}

}