@media only screen and (max-width:480px){

    /*pagina modelos mobile*/
    li {
        font-size: 1rem;
    }

    .oficial{
        font-size: 4rem;
        text-align: center;
    }

    .imagenes{
        width: 50%;
    }
}